
@{
    ViewBag.Title = "Table";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-card">
            <div class="layui-form layui-card-header layuiadmin-card-header-auto">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">设备编码</label>
                        <div class="layui-input-block">
                            <input type="text" name="orderid" placeholder="请输入" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">设备名称</label>
                        <div class="layui-input-block">
                            <input type="text" name="title" placeholder="请输入" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">设备类型</label>
                        <div class="layui-input-block">
                            <input type="text" name="attr" placeholder="请输入" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">所属</label>
                        <div class="layui-input-block">
                            <input type="text" name="accept" placeholder="请输入" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <button class="layui-btn layuiadmin-btn-order" lay-submit lay-filter="LAY-app-order-search">
                            <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="layui-card-body">
                <table class="layui-table" id="table" lay-filter="table"></table>
            </div>
        </div>
    </div>
</div>
@section Script{
    <script type="text/html" id="barDemo">
        <a class="layui-btn layui-btn-xs" lay-event="edit">查看</a>
    </script>
    <script>
        layui.use(['table'], function () {
            var table = layui.table;
            table.render({
                elem: "#table",
                cols: [[
                    { field: 'id', width: 80, title: 'ID', sort: true }
                    , { field: '设备编码' , title: '设备编码' }
                    , { field: '设备名称', title: '设备名称', sort: true }
                    , { field: '设备类型', title: '设备类型', sort: true }
                    , { field: '所属', title: '所属', sort: true }
                    , { field: '运行时长', title: '运行时长', sort: true }
                    , { field: '开模次数', title: '开模次数', sort: true }
                    , {
                        field: '设备状态', title: '设备状态', width: 100,
                        templet: function (res) {
                            return res["设备状态"] == 1 ? "<i class=' layui-icon layui-icon-circle-dot' style='color:#5FB878'></i>" :
                                res["设备状态"] == 2 ? "<i class='layui-icon layui-icon-circle-dot' style='color:#FFB800'></i>":
                                "<i class='layui-icon layui-icon-circle-dot' style='color:#FF5722'></i>"
                        }
                    }
                    , { field: '备注', title: '备注', sort: true }
                    , { fixed: 'right', title: '操作', toolbar: '#barDemo', width: 150 }]]
                    ,
                data: [
                    {
                        'id': 1,
                        '设备编码': "WE00001",
                        '设备类型': "机械设备",
                        '所属': "宁波XX机械有限公司",
                        '设备名称': "设备1",
                        '运行时长': "55h",
                        '开模次数':1252,
                        '设备状态': 1,
                        '备注':"xxxxxx"
                    },
                    {
                        'id':2,
                        '设备编码': "WE00002",
                        '设备类型': "机械设备",
                        '所属': "宁波XX机械有限公司",
                        '设备名称': "设备2",
                        '开模次数': 586,
                        '运行时长': "27h",
                        '设备状态': 2,
                        '备注': "xxxxxx"
                    },
                    {
                        'id': 3,
                        '设备编码': "WE00003",
                        '设备类型': "机械设备",
                        '所属': "宁波XX机械有限公司",
                        '设备名称': "设备3",
                        '开模次数': 586,
                        '运行时长': "27h",
                        '设备状态': 3,
                        '备注': "xxxxxx"
                    }
                ]
                })
        })
    </script>
}

